<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objective:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. java
<br>
...

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
<br>...

<table style="border: 1px solid black; margin-left:0px;">
    <tr>
        <td><b>Data Science Tools</b></td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Weka</td>
    </tr>
    <tr>
        <td>Java-ML</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author<h2>
    Duong Thi Thu Van